

.feed-container {
    width: 55%;
    /* max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column */
  }
  

  @media (max-width: 1000px) {
    .feed-container{
      min-width: 300px;
        width: 90%;
    }
}